[Unit]
Description=Omnipy Rest API
After=network.target

[Service]
ExecStart=/bin/bash omnipy.sh
WorkingDirectory=/home/pi/omnipy
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
