[Unit]
Description=Omnipy Bluetooth PAN service
After=network.target

[Service]
ExecStart=/bin/bash $HOME/omnipy/scripts/btnap.sh
WorkingDirectory=$HOME/omnipy/scripts/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
