[Unit]
Description=Omnipy MQ 
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/pi/omnipy/mq.py
WorkingDirectory=/home/pi/omnipy
StandardOutput=inherit
StandardError=inherit
TimeoutStopSec=10
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target
