[Unit]
Description=Omnipy Bluetooth PAN service
After=network.target

[Service]
ExecStart=/bin/bash /home/pi/omnipy/scripts/btnap-custom.sh
WorkingDirectory=/home/pi/omnipy/scripts/
StandardOutput=inherit
StandardError=inherit
TimeoutStopSec=5
Restart=on-abort
User=root

[Install]
WantedBy=multi-user.target
