[Unit]
Description=Omnipy Bluetooth PAN service
After=network.target

[Service]
ExecStart=/bin/bash $HOME/omnipy/omnipy/tools/btnap.sh
WorkingDirectory=$HOME/omnipy/omnipy/tools/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
