[Unit]
Description=Omnipy Rest API
After=network.target omnipy-beacon.service omnipy-hotspot.service omnipy-pan.service

[Service]
ExecStart=/bin/bash /home/pi/omnipy/scripts/start-restapi.sh
WorkingDirectory=/home/pi/omnipy
StandardOutput=inherit
StandardError=inherit
TimeoutStopSec=15
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target
