[Unit]
Description=Omnipy UDP broadcast receiver
After=network.target

[Service]
ExecStart=/bin/bash /home/pi/omnipy/scripts/start-beacon.sh
WorkingDirectory=/home/pi/omnipy
StandardOutput=inherit
StandardError=inherit
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target
