[Unit]
Description=Omnipy Bluetooth PAN service
After=network.target

[Service]
ExecStart=/bin/bash /home/pi/omnipy/scripts/bt-nap.sh
WorkingDirectory=/home/pi/omnipy/scripts/
StandardOutput=inherit
StandardError=inherit
Restart=on-abort
User=root

[Install]
WantedBy=multi-user.target
